
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-box {
	border: solid 5px black;
	display: inline-block;
	position: relative;
	border-radius: 50px;
	input[type="text"] {
		font-family: Raleway, sans-serif;
		font-size: 20px;
		font-weight: bold;
		width: 50px;
		height: 50px;
		padding: 5px 40px 5px 10px;
		border: none;
		box-sizing: border-box;
		border-radius: 50px;
		transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
		&:focus {
			outline: none;
		}
		&:focus, &:not(:placeholder-shown) {
			width: 300px;
			transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
			+ span {
				bottom: 13px;
				right: 10px;
				transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
			}
			+ span:after {
				top: 0;
				right: 10px;
				opacity: 1;
				transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
			}
		}
	}
	span {
		width: 25px;
		height: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: -13px;
		right: -15px;
		transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
		&:before, &:after {
			content: '';
			height: 25px;
			border-left: solid 5px black;
			position: absolute;
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
			opacity: 0;
			top: -20px;
			right: -10px;
			transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
		}
	}
}




/* :root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  

  body {background: var(--color-dark); display: flex; align-items: center; justify-content: center; min-height: 100vh }
  html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }
  
  form {
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
  }
  input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  input[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
   */