:root {
    --main-bg-colour: #9B9898;
    --main-accent-colour: #FF6033
}

body {
    background-color: var(--main-bg-colour);
}

.mainContent {
    padding-top: 1em;
}

.mainContent h1 {
    color: var(--main-accent-colour);
}

a {
    color: var(--main-accent-colour) !important;
}

.mainContent .nav-item a {
    color: var(--main-accent-colour);
}