:root {
    --main-bg-colour: #9B9898;
    --main-accent-colour: #FF6033
}

body {
    background-color: var(--main-bg-colour);
}

.mainContent {
    padding-top: 1em;
}

.mainContent h1 {
    color: var(--main-accent-colour);
}

a {
    color: var(--main-accent-colour) !important;
}

.mainContent .nav-item a {
    color: var(--main-accent-colour);
}

.galleryPoster {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0px 2rem;
    text-align: center;
    transition: transform .2s;
    color: white;
}

.galleryPoster span {
    visibility: hidden;
}

.galleryPoster:hover {
    transform: scale(1.02);
    box-shadow: inset 0px 0px 300px 5px rgba(0,0,0,0.6);
}

.galleryPoster:hover span {
    visibility: visible;
}

